* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  
  .banner {
    margin: 10%;
    position: relative;
    width: 80%;
    max-width: 900px;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #ffe7f4;
    color: black;
    text-decoration: none;
    .lowerborder {
      position: absolute;
      z-index: -1;
      left: 2.5%;
      bottom: -10px;
      width: 95%;
      height: 10px;
      background-color:  rgb(240, 147, 163);
    }
    .banner:visited {
      color: black;
    }

    .text {
      text-align: center;
      width: 80%;
      margin: 15px auto;
    }

    .picOfCard {
      margin: 10px auto;
      height: 100px; 
    }
  }
}

@media only screen and (min-width: 300px) {
  body {
    .banner {
      .picOfCard {
        height: 150px; 
      }
    }
  }
}

@media only screen and (min-width: 520px) {
  body {
    .banner {
      .text{
        width: 60%;
      }
      .picOfCard {
        height: 80px; 
      }
    }
  }
}

@media only screen and (min-width: 710px) {
  body {
    .banner {
      .text{
        width: 80%;
      }
      .picOfCard {
        height: 60px; 
      }
    }
  }
}

@media only screen and (min-width: 1050px) {
  body {
    .banner {
      .picOfCard {
        height: 50px; 
      }
    }
  }
}